<div id="carouselExampleInterval" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="2000">
        <img src="../../assets/img/firstsld.jpg" class="d-block w-100" alt="Image not loaded" height="450">
      </div>
      <div class="carousel-item" data-interval="2000">
        <img src="../../assets/img/secondsld.jpg" class="d-block w-100" alt="Image not loaded" height="450">
      </div>
      <div class="carousel-item" data-interval="2000">
        <img src="../../assets/img/thirdsld.jpg" class="d-block w-100" alt="Image not loaded" height="450">
      </div>
      <div class="carousel-item" data-interval="2000">
        <img src="../../assets/img/fourthsld.jpeg" class="d-block w-100" alt="Image not loaded" height="450">
      </div>
    </div>
  </div>