<div class="row">
    <div class="col-sm-2">
        <app-fixed-navbar></app-fixed-navbar>
    </div>
    <div class="col-sm-10">
        <div *ngFor="let s of dals; let i=index;">
            <div *ngIf="i % 3 == 0" class="row top-buffer">
                <div class="col-md-4 col-xs-12">
                    <app-cards [product]="dals[i]" *ngIf="i < dals.length"></app-cards>
                </div>
                <div class="col-md-4 col-xs-12">
                    <app-cards [product]="dals[i+1]" *ngIf="i + 1 < dals.length"></app-cards>
                </div>
                <div class="col-md-4 col-xs-12">
                    <app-cards [product]="dals[i+2]" *ngIf="i + 2 < dals.length"></app-cards>
                </div>
            </div>
        </div>
    </div>
</div>