<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="row justify-content-center">
                <img src="../../assets/img/websitelogo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                <p class="h4"> Grocery Store</p>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <br>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                  <p class="h4">Sign In</p>
                </div>
                <div class="card-body">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">Username</span>
                        <input type="text" class="form-control"  aria-describedby="sizing-addon2" required>
                      </div>
                    <br>
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">Password</span>
                        <input type="password" class="form-control"  aria-describedby="sizing-addon2" required>
                      </div>
                    <br>
                        <a href="#" class="btn btn-success">Login</a>
                    <br><br>
                    <div class="row">
                        <div class="col textSize"><a href="#">Forgot Password?</a></div>
                        <div class="col textSize"><p>Don't have an account? <a routerLink='../signup'>Sign up</a></p></div>
                    </div>
                </div>
              </div>
        </div>
        <div class="col"></div>
    </div>
</div>