<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="row justify-content-center">
                <img src="../../assets/img/websitelogo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                <p class="h5"> Grocery Store</p>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <br>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                  <p class="h4">Sign In</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <label>Username </label>
                        </div>
                        <div class="col">
                            <input type="text" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <label>Password </label>
                        </div>
                        <div class="col">
                            <input type="password" required>
                        </div>
                    </div>
                    <br>
                        <a href="#" class="btn btn-success">Login</a>
                    <br><br>
                    <div class="row">
                        <div class="col"><a href="#">Forgot Password?</a></div>
                        <div class="col"><p>Don't have an account? <a routerLink='../signup'>Sign up</a></p></div>
                    </div>
                </div>
              </div>
        </div>
        <div class="col"></div>
    </div>
</div>