
<div class="sidenav" style="margin-top: 5em;">
 <!-- <a routerLink="/cart" style="padding-left:85px;padding-bottom: 20px;">
    <i class="fa" style="font-size:24px">&#xf07a;</i>
    <span class='badge badge-warning' id='lblCartCount'>{{cartCount}}</span>
  </a>-->
  <a routerLink="/vegetables">Vegetables</a>
  <a routerLink="/fruits">Fruits</a>
  <a routerLink="/dairyproducts">Dairy Products</a>
  <a routerLink="/breads">Breads</a>
  <a routerLink="/dals">Pulses</a>
  <a routerLink="/flours">Flour</a>
  <a routerLink="/spices">Spices</a>
</div>
