<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body style="background-color: blue;">

<div class="sidenav">
  <a routerLink="/cart" style="padding-left:85px;padding-bottom: 20px;">
    <i class="fa" style="font-size:24px">&#xf07a;</i>
    <span class='badge badge-warning' id='lblCartCount'>{{cartCount}}</span>
  </a>
  <a routerLink="/vegetables">Vegetables</a>
  <a routerLink="/fruits">Fruits</a>
  <a routerLink="/dairyproducts">Dairy Products</a>
  <a routerLink="/dals">Pulses</a>
  <a routerLink="/flours">Flour</a>
  <a routerLink="/spices">Spices</a>
</div>
   
</body>
</html> 
