<div class="container text-center">
    <div class="card-header">
      <p class="h3">Fruits & Vegetables</p>
    </div>
    <div class="card-group">
        <div class="card">
          <a href="#">
            <img class="card-img-top" src="../../assets/img/fruits.jpg" alt="Fruits">
          <div class="card-body">
            <h5 class="card-title">Fresh Fruits</h5>
          </div>
          </a>
        </div>
      <div class="card">
        <a href="#">
        <img class="card-img-top" src="../../assets/img/veges.jpg" alt="Vegetables">
        <div class="card-body">
          <h5 class="card-title">Fresh Vegetables</h5>
        </div>
        </a>
      </div>
    </div>
  </div>
  
  <div class="container text-center">
    <div class="card-header">
      <p class="h3">Staple corner</p>
    </div>
    <div class="card-group">
      <div class="card">
        <a href="#">
        <img class="card-img-top" src="../../assets/img/dals&pulses.jpg" alt="Dals & Pulses">
        <div class="card-body">
          <h5 class="card-title">Dals & Pulses</h5>
        </div>
        </a>
      </div>
      <div class="card">
        <a href="#">
        <img class="card-img-top" src="../../assets/img/flours.jpeg" alt="Flours">
        <div class="card-body">
          <h5 class="card-title">Flours</h5>
        </div>
        </a>
      </div>
    </div>
  </div>
  
  <div class="container text-center">
    <div class="card-header">
      <p class="h3">Seasoning & Spices</p>
    </div>
    <div class="card-group">
      <div class="card">
        <a href="#">
        <img class="card-img-top" src="../../assets/img/seasonings.jpg" alt="Seasoning" height="321">
        <div class="card-body">
          <h5 class="card-title">Seasonings</h5>
        </div>
        </a>
      </div>
      <div class="card">
        <a href="#">
        <img class="card-img-top" src="../../assets/img/spices.jpg" alt="Spices">
        <div class="card-body">
          <h5 class="card-title">Spices</h5>
        </div>
        </a>
      </div>
    </div>
  </div>
  
  <div class="container text-center">
    <div class="card-header">
      <p class="h3">Dairy</p>
    </div>
    <div class="card-group">
      <div class="card">
        <a href="#">
        <img class="card-img-top" src="../../assets/img/milk.jpg" alt="Milk">
        <div class="card-body">
          <h5 class="card-title">Milk & Products</h5>
        </div>
        </a>
      </div>
      <div class="card">
        <a href="#">
        <img class="card-img-top" src="../../assets/img/bread.jpg" alt="Bread">
        <div>
          <p><br></p>
        </div>
        <div class="card-body">
          <h5 class="card-title">Breads</h5>
        </div>
        </a>
      </div>
    </div>
  </div>