<div class="container text-center">
    <div class="card-header">
      <p class="h4">Fruits & Vegetables</p>
    </div>
    <div class="card-group">
        <div class="card">
          <a routerLink='fruits'>
            <img class="card-img-top" src="../../assets/img/fruits.jpg" alt="Fruits">
          <div class="card-body">
            <h4 class="card-title">Fresh Fruits</h4>
          </div>
          </a>
        </div>
      <div class="card">
        <a routerLink='vegetables'>
        <img class="card-img-top" src="../../assets/img/veges.jpg" alt="Vegetables">
        <div class="card-body">
          <h4 class="card-title">Fresh Vegetables</h4>
        </div>
        </a>
      </div>
    </div>
  </div>
  
  <div class="container text-center">
    <div class="card-header">
      <p class="h4">Staple corner</p>
    </div>
    <div class="card-group">
      <div class="card">
        <a routerLink='dals'>
        <img class="card-img-top" src="../../assets/img/dals&pulses.jpg" alt="Dals & Pulses">
        <div class="card-body">
          <h4 class="card-title">Dals & Pulses</h4>
        </div>
        </a>
      </div>
      <div class="card">
        <a routerLink='flours'>
        <img class="card-img-top" src="../../assets/img/flours.jpeg" alt="Flours">
        <div class="card-body">
          <h4 class="card-title">Flours</h4>
        </div>
        </a>
      </div>
    </div>
  </div>
  
  <div class="container text-center">
    <div class="card-header">
      <p class="h4">Seasoning & Spices</p>
    </div>
    <div class="card-group">
      <div class="card">
        <a routerLink='spices'>
        <img class="card-img-top" src="../../assets/img/seasonings.jpg" alt="Seasoning" height="321">
        <div class="card-body">
          <h4 class="card-title">Seasonings</h4>
        </div>
        </a>
      </div>
      <div class="card">
        <a routerLink='spices'>
        <img class="card-img-top" src="../../assets/img/spices.jpg" alt="Spices">
        <div class="card-body">
          <h4 class="card-title">Spices</h4>
        </div>
        </a>
      </div>
    </div>
  </div>
  
  <div class="container text-center">
    <div class="card-header">
      <p class="h4">Dairy</p>
    </div>
    <div class="card-group">
      <div class="card">
        <a routerLink='dairyproducts'>
        <img class="card-img-top" src="../../assets/img/milk.jpg" alt="Milk">
        <div class="card-body">
          <h4 class="card-title">Milk & Products</h4>
        </div>
        </a>
      </div>
      <div class="card">
        <a routerLink='breads'>
        <img class="card-img-top" src="../../assets/img/bread.jpg" alt="Bread">
        <div>
          <p><br></p>
        </div>
        <div class="card-body">
          <h4 class="card-title">Breads</h4>
        </div>
        </a>
      </div>
    </div>
  </div>
