<app-nav></app-nav>
<div class="container">
    <div class="row" id="start">
        <br>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card text-center">
                <div class="card-header">
                    <h5>Edit Details</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col"><label>First name </label></div>
                        <div class="col"><input type="text"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col"><label>Last name </label></div>
                        <div class="col"><input type="text"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col"><label>Email address</label></div>
                        <div class="col"><input type="email"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col"><label>Username</label></div>
                        <div class="col"><input type="text"></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col"><label>Password </label></div>
                        <div class="col"><input type="password"></div>
                    </div>
                    <br>
                    <a routerLink='/profile' class="btn btn-success" onclick="alert('Do you want to save the changes?')">Confirm details</a>
                </div>
            </div>
        </div>
    </div>
</div>
