<app-nav></app-nav>
<div class="container">
    <div class="row" id="start">
        <h4>Welcome!</h4>
        <br><br>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <a routerLink='/editprofile'>
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="margin-top: 0em;">
                            <div class="col-md-4">
                                <img src="../../assets/img/login.png" height="100%" width="100%">
                            </div>
                            <div class="col-md-8">
                                <h4 class="card-title">Edit Profile</h4>
                                <h5 class="card-text">
                                    Edit your name, email, mobile etc.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6">
            <a href="#">
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="margin-top: 0em;">
                            <div class="col-md-4">
                                <img src="../../assets/img/orders.jpg" height="100%" width="100%">
                            </div>
                            <div class="col-md-8">
                                <h4 class="card-title">My Orders</h4>
                                <h5 class="card-text">
                                    View your previous orders.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <a routerLink='/editaddress'>
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="margin-top: 0em;">
                            <div class="col-md-4">
                                <img src="../../assets/img/address.jpg" height="100%" width="100%">
                            </div>
                            <div class="col-md-8">
                                <h4 class="card-title">Your Addresses</h4>
                                <h5 class="card-text">
                                    Edit or change your delivery addresses.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6">
            <a href="#">
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="margin-top: 0em;">
                            <div class="col-md-4">
                                <img src="../../assets/img/payment.jpg" height="100%" width="100%">
                            </div>
                            <div class="col-md-8">
                                <h4 class="card-title">Payment Details</h4>
                                <h5 class="card-text">
                                    Change your Payment details
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>